@model VegetableShop.Mvc.Models.Products.UpdateProductRequest

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h3 class="page-header text-center">UPDATE PRODUCT</h3>
    <hr />
    <div class="card-body">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input asp-for="Name" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Price" class="form-control" />
                        <label asp-for="Price" class="control-label"></label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input asp-for="Stock" class="form-control" />
                        <label asp-for="Stock" class="control-label"></label>
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                <input asp-for="DateUpdated" class="form-control" />
                <label asp-for="DateUpdated" class="control-label"></label>
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
                </div>
                </div>*@
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input asp-for="Image" type="file" class="form-control" />
                        <label asp-for="Image" class="control-label"></label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="CategoryId" class="control-label"></label>

                    @*<select asp-for="CategoryId">
                    @foreach (var item in @Model.Categories)
                    {
                    <option value="@item.Id">@item.Name</option>
                    }
                    </select>*@
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-floating mb-3 mb-md-0">
                    <input asp-for="Description" class="form-control" />
                    <label asp-for="Description" class="control-label"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div>
                <input type="submit" value="Update" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index" asp-controller="Product">Back</a>
            </div>
        </form>
    </div>
</div>

