@model VegetableShop.Mvc.Models.User.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/client/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/customs.css" type="text/css">
    <style>
        .modal-title {
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a asp-action="Index" asp-controller="UserHome"><img src="~/client/img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                <a asp-action="Profile" asp-controller="UserHome" asp-route-username="@User.Identity.Name">
                                    <i class="fa fa-user"></i>
                                    @User.Identity.Name.ToUpper()
                                </a>
                                |
                                <a asp-action="Logout" asp-controller="Account">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="UserHome"><img src="~/client/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-action="Index" asp-controller="UserHome">Home</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="hero" style="padding-bottom: 0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="Search" asp-controller="ProductPage">
                                <input type="text" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>(+84) 327449777</h5>
                                <span>Support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <section class="featured spad" style="padding-top: 0px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>PROFILE</h2>
                                    </div>
                                    <div class="text-center">
                                        <a class="site-btn" style="color:white;"
                                           onclick="showInPopup('@Url.Action("Update","UserHome",new {id=Model.Id},Context.Request.Scheme)','Update Profile')">
                                            Update Profile
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="profile">
                                @await Html.PartialAsync("_ProfilePartialView", Model)
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script src="~/client/js/jquery-3.3.1.min.js"></script>
    <script src="~/client/js/bootstrap.min.js"></script>
    <script src="~/client/js/jquery.nice-select.min.js"></script>
    <script src="~/client/js/jquery-ui.min.js"></script>
    <script src="~/client/js/jquery.slicknav.js"></script>
    <script src="~/client/js/mixitup.min.js"></script>
    <script src="~/client/js/owl.carousel.min.js"></script>
    <script src="~/client/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/notify.min.js"></script>
    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>