@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Website Management</h1>
</div>
